.resource-label {
  font-weight: bold;
}

.resource-value .resource-value-step {
  height: 14px;
  width: 14px;
  margin-right: 3px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.resource-value.center {
  text-align: center;
}

.resource-value .resource-value-empty {
  height: 14px;
  width: 14px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.resource-counter .resource-counter-step {
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
}

.resource-counter .resource-counter-step[data-state="-"] {
  background-color: #147c14;
}

.resource-counter .resource-favored {
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
}

.resource-counter.leftbox {
  text-align: left;
  width: 20px;
}
.resource-counter.center {
  text-align: center;
}

.flex-group-center:not(.flexrow) .resource-value,
.flex-group-center:not(.flexrow) .resource-counter {
  margin-top: 5px;
}

.non-health-boxes {
  height: 14px;
  width: 14px;
}