$color-black: #000;
$color-gold: #9f9275;

$border-gold: 1px solid $color-gold;

$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;

$header-height: 100px;

$tab-full-width: 44px;
$tab-inactive-width: 38px;
