<section class="tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  Abilities placeholder
  {{#switch actor.type}}  
    {{#case 'solar'}} <div>Solar Skills placeholder</div> {{/case}}
  {{/switch}}
</section>