<section class="tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  <div class="horizontal-line-container">
    <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Attributes'}}<span class="line" ></span>
  </div>
  
  {{#each system.attributes as |attribute key|}}
  <div>
  </div>
    {{localize attribute.name}}
  {{/each}}
  <div class="horizontal-line-container">
    <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Abilities'}}<span class="line" ></span>
  </div>
  {{#switch actor.type}}  
    {{#case 'solar'}} {{> 'systems/exalted2e/templates/actor/parts/actor-solar-abilities.hbs'}} {{/case}}
    {{#case 'lunar'}} {{> 'systems/exalted2e/templates/actor/parts/actor-lunar-abilities.hbs'}} {{/case}}
  {{/switch}}
</section>