<header class="sheet-header">
  <div class="profile-img-wrapper">
    <img class="profile-img" src="{{document.img}}" data-edit="img" data-action="onEditImage" title="{{actor.name}}" height="100" width="100" />
  </div>
  <div class="header-fields">
    <div class="flexrow flex-h-gap-10">
      <div class="flexcolumn">
        <div class="flexrow flex-h-gap-5">
          <label class="flex0" for="name">{{localize 'EXALTED2E.SheetLabels.Name'}}:</label> 
          <input id="name" name="document.name" type="text" value="{{document.name}}" placeholder="Name" />
        </div>
        <div class="flexrow flex-h-gap-5">
          <label class="flex0" for="type">{{localize 'EXALTED2E.SheetLabels.Type'}}:</label> 
          <input id="type" name="document.system.type" type="text" value="{{document.system.type}}" placeholder="" />
        </div>
        <div class="flexrow flex-h-gap-5">
          <label class="flex0" for="caste">{{localize 'EXALTED2E.SheetLabels.Caste'}}:</label> 
          <input id="caste" name="document.system.caste" type="text" value="{{document.system.caste}}" placeholder="" />
        </div>
      </div>
      <div class="flexcolumn">
        <div class="flexrow flex-h-gap-5">
          <label class="flex0" for="concept">{{localize 'EXALTED2E.SheetLabels.Concept'}}:</label> 
          <input id="concept"name="document.system.concept" type="text" value="{{document.system.concept}}" placeholder="" />
        </div>
        <div class="flexrow flex-h-gap-5">
          <label class="flex0" for="motivation">{{localize 'EXALTED2E.SheetLabels.Motivation'}}:</label> 
          <input id="motivation" name="document.system.motivation" type="text" value="{{document.system.motivation}}" placeholder="" />
        </div>
        <div class="flexrow flex-h-gap-5">
          <label class="flex0" for="anima">{{localize 'EXALTED2E.SheetLabels.Anima'}}:</label> 
          <input id="anima" name="document.system.anima" type="text" value="{{document.system.anima}}" placeholder="" />
        </div>
      </div>
    </div>
  </div>
</header>