.lunar.sheet-body {
  scrollbar-color: $color-moonsilver var(--color-scrollbar-track);
}

.lunar .horizontal-line-container .line {
  background-color: $color-moonsilver;
}

.lunar .resource-value .resource-value-step {  
  border: $border-moonsilver;
}

.lunar .resource-value .resource-value-step.active {
  background-color: $color-moonsilver;
}

.lunar .resource-value .resource-value-empty {  
  border: $border-moonsilver;
}

.lunar .resource-counter .resource-counter-step {
  border: $border-moonsilver;
}

.lunar .resource-counter .resource-favored {
  border: $border-moonsilver;
}

.lunar nav.tabs > .item {  
  color: $color-moonsilver;
}

.lunar .resource-counter .resource-counter-step[data-state="/"] {
  background: linear-gradient(135deg, transparent 0%, transparent 43%, $color-moonsilver 45%, $color-moonsilver 55%, transparent 57%, transparent 100%);
}

.lunar .resource-counter .resource-counter-step[data-state=x] {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, $color-moonsilver 45%, $color-moonsilver 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, $color-moonsilver 45%, $color-moonsilver 55%, transparent 57%, transparent 100%);
}

.lunar .resource-counter .resource-counter-step[data-state="*"] {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, $color-moonsilver 45%, $color-moonsilver 55%, transparent 57%, transparent 100%), linear-gradient(90deg, transparent 0%, transparent 43%, $color-moonsilver 45%, $color-moonsilver 55%, transparent 57%, transparent 100%), linear-gradient(180deg, transparent 0%, transparent 43%, $color-moonsilver 45%, $color-moonsilver 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, $color-moonsilver 45%, $color-moonsilver 55%, transparent 57%, transparent 100%);
}