// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';
@import 'global/text';

/* Styles limited to Exalted 2e sheets */
.exalted2e {  
  overflow: visible;
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
  @import 'components/tabs';

  //Styles for coloring based on Actor Type
  @import 'theme/solar';
  @import 'theme/lunar';
}

.exalted2e.sheet {
  min-width: 651px;
  min-height: 500px;
}

.exalted2e::after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  box-shadow: 0 0 20px var(--color-shadow-dark);
  border-radius: 5px;
}


//Border Color for the Sheets
.sheet.actor.solar {  
  border: $border-gold;
}

.sheet.actor.lunar {  
  border: $border-moonsilver;
}

//Colors for the Tabs
//Solar
.exalted2e.solar nav.tabs > .item {  
  color: $color-gold;
}

.exalted2e.solar nav.tabs > .item:hover {  
  border-color: $color-gold;
  box-shadow: 0 0 6px $color-gold;
}

.exalted2e.solar nav.tabs > .item::after {
  border: 1px solid $color-gold;
  border-left: none;
}

//Lunar
.exalted2e.lunar nav.tabs > .item {  
  color: $color-moonsilver;
}

.exalted2e.lunar nav.tabs > .item:hover {  
  border-color: $color-moonsilver;
  box-shadow: 0 0 6px $color-moonsilver;
}

.exalted2e.lunar nav.tabs > .item::after {
  border: 1px solid $color-gold;
  border-left: none;
}